.CarDetails {
    background-color: var(--bgColor-main);
    color: var(--textColor-main);
    display: flex;
    padding-left: 5%;
}
.carDetailsLeft {
    margin: 20px;
}
.carDetailsRight {
    margin: 20px;
}
.carDetailsButtons button{
    margin-right: 10px;
    padding: 5px;
}

/* Mobile UI */
@media screen and (max-width: 768px) {
    .CarDetails {
        display: block;
    }
    .carDetailsRight {
        text-align: center;
    }
}