.CarDetails {
    background-color: var(--bgColor-main);
    color: var(--textColor-main);
    display: flex;
    justify-content: center;
}
.carDetailsLeft {
    background-color: var(--bgColor-main);
    margin: 20px 0;
    margin-left: 20px;
    display: flex;
}
.carDetailsRight {
    background-color: var(--bgColor-secondary);
    margin: 20px 20px 20px 0;
    padding: 0 20px;
}
.carDetailsButtons button{
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

/* Mobile UI */
@media screen and (max-width: 768px) {
    .CarDetails {
        display: block;
    }
    .carDetailsLeft {
        display: flex;
        justify-content: center;
    }
    .carDetailsRight {
        margin: 20px 20px;
        text-align: center;
    }
}