.CarCard {
    background-color: var(--bgColor-secondary);
    max-width: 300px;
}
.CarCardText {
    text-align: center;
}
.CarCardLink {
    color: var(--textColor-main);
    text-decoration: none;
}
.CarCardLink:hover {
    color: var(--linkColor-hover);
}