.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
:root {
  --bgColor-main: #3c5e63;
  --bgColor-secondary: #173836;
  --bgColor-error: #3d1212;

  --textColor-main: #ffffff;
  --textColor-error: #747474;
  
  --linkColor: #ffffff;
  --linkColor-hover: #a7a7a7;

  --borderRadius-main: 5px;
}