.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--bgColor-main);
  color: var(--textColor-main);
}
a {
  color: inherit;
}
a:hover {
  color: var(--linkColor-hover);
}
:root {
  --bgColor-main: #3c5e63;
  --bgColor-secondary: #173836;
  --bgColor-error: #3d1212;

  --textColor-main: #ffffff;
  --textColor-error: #747474;
  
  --linkColor: #ffffff;
  --linkColor-hover: #a7a7a7;

  --borderRadius-main: 5px;
  --h1-large: 4em;
  --h1-normal: 3.5em;
  --h2-normal: 2em;
  --fontSize-large: 1.5em;
  --fontSize-normal: 1em;
}